---
---

<!DOCTYPE html>
<html lang="en">

  {% include component/head.html %}

  <script>
    function redirectToCorrectPage() {
      let url = window.location.toString();
      if(url.search("/Quotients/"))
        window.location = url.toLowerCase();  
      if(url.search("/Medical-Map/"))
        window.location = url.toLowerCase();  
    }  
    window.onload = redirectToCorrectPage;  
  </script>
  
  <body class="container">
    {% include component/404.html %}
  </body>
</html>
