<div class="container">
    <div class="row">
        <div class="col-md-12 test-label">
            <div class="test-body">
                <div id="test-form">
                    <p class="phone-layout agree-text">非常赞同</p>
                    <p class="phone-layout disagree-text">绝对反对</p>
                    {% for q in site.data.EQ60.question %}
                    <div class="question-wrapper set1">
                        <div class="statement">
                            {{ q.str }}:
                        </div>
                        {% if q.rev == 0 %}
                        <div class="row decision">
                            {% if q.val == 1 %}
                            <div class="hidden-xs col-sm-3 caption left agree-str"
                                 onclick="setAnswer('{{ q.id }}', 2);">非常赞同
                            </div>
                            <div class="col-xs-12 col-sm-6 options btn-group" data-toggle="buttons" role="group"
                                 aria-label="Options">
                                <label class="btn-default option agree max" onclick="setAnswer('{{ q.id }}', 2);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                                <label class="btn-default option agree med" onclick="setAnswer('{{ q.id }}', 1);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                                <label class="btn-default option disagree med" onclick="setAnswer('{{ q.id }}', 0);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                                <label class="btn-default option disagree max" onclick="setAnswer('{{ q.id }}', 0);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                            </div>
                            <div class="hidden-xs col-sm-3 caption right disagree-str"
                                 onclick="setAnswer('{{ q.id }}', 0);">绝对反对
                            </div>
                            {% else %}
                            <div class="hidden-xs col-sm-3 caption left agree-str"
                                 onclick="setAnswer('{{ q.id }}', 0);">非常赞同
                            </div>
                            <div class="col-xs-12 col-sm-6 options btn-group" data-toggle="buttons" role="group"
                                 aria-label="Options">
                                <label class="btn-default option agree max" onclick="setAnswer('{{ q.id }}', 0);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                                <label class="btn-default option agree med" onclick="setAnswer('{{ q.id }}', 0);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                                <label class="btn-default option disagree med" onclick="setAnswer('{{ q.id }}', 0);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                                <label class="btn-default option disagree max" onclick="setAnswer('{{ q.id }}', 0);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                            </div>
                            <div class="hidden-xs col-sm-3 caption right disagree-str"
                                 onclick="setAnswer('{{ q.id }}', 0);">绝对反对
                            </div>
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="row decision">
                            {% if q.val == 1 %}
                            <div class="hidden-xs col-sm-3 caption left agree-str"
                                 onclick="setAnswer('{{ q.id }}', 0);">非常赞同
                            </div>
                            <div class="col-xs-12 col-sm-6 options btn-group" data-toggle="buttons" role="group"
                                 aria-label="Options">
                                <label class="btn-default option agree max" onclick="setAnswer('{{ q.id }}', 0);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                                <label class="btn-default option agree med" onclick="setAnswer('{{ q.id }}', 0);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                                <label class="btn-default option disagree med" onclick="setAnswer('{{ q.id }}', 1);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                                <label class="btn-default option disagree max" onclick="setAnswer('{{ q.id }}', 2);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                            </div>
                            <div class="hidden-xs col-sm-3 caption right disagree-str"
                                 onclick="setAnswer('{{ q.id }}', 2);">绝对反对
                            </div>
                            {% else %}
                            <div class="hidden-xs col-sm-3 caption left agree-str"
                                onclick="setAnswer('{{ q.id }}', 0);">非常赞同
                            </div>
                            <div class="col-xs-12 col-sm-6 options btn-group" data-toggle="buttons" role="group"
                                    aria-label="Options">
                                <label class="btn-default option agree max" onclick="setAnswer('{{ q.id }}', 0);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                                <label class="btn-default option agree med" onclick="setAnswer('{{ q.id }}', 0);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                                <label class="btn-default option disagree med" onclick="setAnswer('{{ q.id }}', 0);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                                <label class="btn-default option disagree max" onclick="setAnswer('{{ q.id }}', 0);">
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                            </div>
                            <div class="hidden-xs col-sm-3 caption right disagree-str"
                                    onclick="setAnswer('{{ q.id }}', 0);">绝对反对
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="row test-submit-wrapper">
                        <div class="col-md-12">
                            <div class="submit_wrapper setres">
                                <button class="btn btn-action btn-lg" onclick="finish({{ site.data.EQ60.count }});" >
                                    <span>提交&nbsp;</span><span class="fa fa-caret-right"></span></button>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
