<!--
# 脚本 
-->

<!-- jQuery CDN -->
<script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper.js CDN -->
<script src="https://cdn.staticfile.org/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Bootstrap JavaScript CDN -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- wow.js CDN & Activation -->
<script src="https://cdn.staticfile.org/wow/1.1.2/wow.min.js"></script>
<script> new WOW().init(); </script>

<!-- Card Animation jQuery -->
<script src="{{ '/assets/js/card-animation.js' | relative_url }}"></script>

<!-- Load Animation -->
<script src="{{ '/assets/js/load.js' | relative_url }}"></script>

<!-- CopyRight -->
<script src="{{ '/assets/js/CopyRight.js' | relative_url }}"></script>

<!-- Console Copyright -->
<script>
    console.log("%c 青衫Aspie %c VERSION: {{ site.version }} | {{ site.time }} ", "color: #fadfa3; background: #030307;", "background: #fadfa3;");
</script>

<!-- Term Pop -->
{% include utils/term_pop.html %}