<!-- 脚本 -->

<!-- jQuery -->
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>

<!-- Popper.js -->
<script type="module" src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>

<!-- Bootstrap JavaScript -->
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>

<!-- wow.js & Activation -->
<script src="{{ '/assets/js/wow.min.js' | relative_url }}"></script>
<script> new WOW().init(); </script>

<!-- Card Animation jQuery -->
<script src="{{ '/assets/js/card-animation.js' | relative_url }}"></script>

<!-- Load Animation -->
<script src="{{ '/assets/js/load.js' | relative_url }}"></script>

<!-- copy_right -->
<script src="{{ '/assets/js/copy_right.js' | relative_url }}"></script>

<!-- Console Copyright -->
<script>
    console.log("%c 青衫 Neuro %c VERSION: {{ site.version }} | {{ site.time }} ", "color: #fadfa3; background: #030307;", "background: #fadfa3;");
</script>

<!-- Term Pop -->
{% include utils/term_pop.html %}
