.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  margin-top: 4.8rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.card {
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.11);
}
