<div class="container">

    <div class="element-card">
        <div class="front-facing">
            <h1 class="abr">Cu</h1>
            <p class="title">Gopper</p>
            <span class="atomic-number">29</span>
            <span class="atomic-mass">63.54</span>
        </div>
        <div class="back-facing">
            <p>Copper is a chemical element with symbol Cu (from Latin: cuprum) and atomic number 29. It is a soft,
                malleable, and ductile metal with very high thermal and electrical conductivity.</p>
            <p><a rel="nofollow" rel="noreferrer" class="btn" href="https://en.wikipedia.org/wiki/Copper"
                  target="_blank">More info</a>
            </p>
        </div>
    </div>

    <div class="element-card">
        <div class="front-facing">
            <h1 class="abr">Ag</h1>
            <p class="title">Silver</p>
            <span class="atomic-number">47</span>
            <span class="atomic-mass">107.86</span>
        </div>
        <div class="back-facing">
            <p>Silver is the metallic element with the atomic number 47. Its symbol is Ag, from the Latin argentum,
                derived from the Greek ὰργὀς, and ultimately from a Proto-Indo-European language root reconstructed as
                *h2erǵ-, "grey" or "shining".</p>
            <p><a rel="nofollow" rel="noreferrer" class="btn" href="https://en.wikipedia.org/wiki/Silver"
                  target="_blank">More info</a>
            </p>
        </div>
    </div>

    <div class="element-card">
        <div class="front-facing">
            <h1 class="abr">Au</h1>
            <p class="title">Gold</p>
            <span class="atomic-number">79</span>
            <span class="atomic-mass">196.97</span>
        </div>
        <div class="back-facing">
            <p>Gold is a chemical element with symbol Au and atomic number 79. In its purest form, it is a bright,
                slightly reddish yellow, dense, soft, malleable, and ductile metal. Chemically, gold is a transition
                metal and a group 11 element.</p>
            <p><a rel="nofollow" rel="noreferrer" class="btn" href="https://en.wikipedia.org/wiki/Gold" target="_blank">More
                info</a>
            </p>
        </div>
    </div>

    <div class="element-card">
        <div class="front-facing">
            <h1 class="abr">Rg</h1>
            <p class="title">Roentgenium</p>
            <span class="atomic-number">111</span>
            <span class="atomic-mass">282</span>
        </div>
        <div class="back-facing">
            <p>Roentgenium is a chemical element with symbol Rg and atomic number 111. It is an extremely radioactive
                synthetic element (an element that can be created in a laboratory but is not found in nature).</p>
            <p><a rel="nofollow" rel="noreferrer" class="btn" href="https://en.wikipedia.org/wiki/Roentgenium"
                  target="_blank">More info</a>
            </p>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.element-card').on('click', function () {
            if ($(this).hasClass('open')) {
                $(this).removeClass('open');
            } else {
                $('.element-card').removeClass('open');
                $(this).addClass('open');
            }
        });
    });
</script>