<div class="container">

    <div class="element-card">
        <div class="front-facing">
            <h1 class="abr">Cu</h1>
            <p class="title">Gopper</p>
            <span class="atomic-number">29</span>
            <span class="atomic-mass">63.54</span>
        </div>
    </div>

    <div class="element-card">
        <div class="front-facing">
            <h1 class="abr">Ag</h1>
            <p class="title">Silver</p>
            <span class="atomic-number">47</span>
            <span class="atomic-mass">107.86</span>
        </div>
    </div>

    <div class="element-card">
        <div class="front-facing">
            <h1 class="abr">Au</h1>
            <p class="title">Gold</p>
            <span class="atomic-number">79</span>
            <span class="atomic-mass">196.97</span>
        </div>
    </div>

    <div class="element-card">
        <div class="front-facing">
            <h1 class="abr">Rg</h1>
            <p class="title">Roentgenium</p>
            <span class="atomic-number">111</span>
            <span class="atomic-mass">282</span>
        </div>
    </div>
</div>
