<div class="container-c">

    <div class="element-card">
        <div class="front-facing">
            <div class="abr">
                <img src="{{ '/assets/img/qingshan_150.png' | relative_url }}" alt="QINGSHAN">
            </div>
            <p class="title">QINGSHAN</p>
            <span class="counts-c">organizer</span>
        </div>
    </div>

    <div class="element-card">
        <div class="front-facing">
            <div class="abr">
                <!--<img src="{{ '/assets/img/qingshan_150.png' | relative_url }}" alt="QINGSHAN">-->
            </div>
            <p class="title">ZEALOT</p>
            <span class="counts-c">WEB PROGRAM</span>
        </div>
    </div>

    <div class="element-card">
        <div class="front-facing">
            <div class="abr">
                <img alt="GloomyGhost" src="{{ '/assets/img/G-150x150.png' | relative_url }}">
            </div>
            <p class="title">GloomyGhost</p>
            <span class="counts-c">WEB PROGRAM</span>
        </div>
    </div>
</div>
