<div class="ContributorMain">
    <p>非常感谢帮助我们改进错误</p>
    <small> 非常抱歉，由于我们没有办法联系每一位帮助我们的人，我们将使用您提出意见时的昵称进行记录<br>如果您不希望出现在这个列表上，请联系我们。</small>
    <div class="ContributorCor">
        <table style="text-align: left; display: inline;">
            <thead>
                <th>昵称</th>
                <th>内容</th>
            </thead>
            <tbody>
                {% for con in site.data.Contributor.Contributor %}
                <tr>
                    <td>{{ con.name }}</td>
                    <td>{{ con.do }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>