<footer class="mt-auto py-3 text-center">
    <div class="footer-text">
        <small class="text-muted mb-2">
            用
            <i class="fas fa-code"></i> 和 <i class="fas fa-heart"></i> 构建 |
            来自：<strong>{{ site.author.name }}</strong>|
            网站版本: {{ site.version }}; 发布时间: {{ site.time | date_to_string }} | Autism icon by Icons8
        </small>
        <br />
        <small class="text-muted mb-2" id="hitokoto">_(:зゝ∠)_ 获取中 _(∠ゝз:)_</small>
        {% include hitokoto.html %}
        {% include social.html %}
    </div>
</footer>