<div class="card-group mt-2">

    {% for new in site.news %}

    {% comment %} Default Styles {% endcomment %}
    {% assign card_style = '' %}
    {% assign text_style = 'text-dark' %}
    {% assign badge_style = 'badge-dark' %}

    {% comment %} Update Styles {% endcomment %}
    {% if new.style == 'fill' %}
    {% assign card_style = new.color | prepend: 'bg-' %}
    {% if new.color != 'light' %}
    {% assign text_style = 'text-white' %}
    {% assign badge_style = 'badge-light text-' %}
    {% assign badge_style = badge_style | append: new.color %}
    {% endif %}
    {% else %}
    {% assign card_style = new.color | prepend: 'border border-' %}
    {% if new.color %}
    {% assign badge_style = new.color | prepend: 'badge-' %}
    {% endif %}
    {% endif %}

    {% comment %} Determine Article URL {% endcomment %}
    {% if new.external_url %}
    {% assign article_url = new.external_url %}
    {% else %}
    {% assign article_url = new.url | relative_url %}
    {% endif %}

    <div class="col-lg-6 my-3 wow animated fadeIn" data-wow-delay=".15s">
        <a href="{{ article_url }}" class="article card {{ card_style }}">
            <div class="card-body {{ text_style }}">
                <h3 class="card-title">{{ new.title }}</h3>
                <p class="card-text">
                    {% for tag in new.tags %}
                    <span class="badge {{ badge_style }}">{{ tag }}</span>
                    {% endfor %}
                </p>
                <p class="card-text">
                    {% if new.description %}
                    {{ new.description }}
                    {% else %}
                    {{ new.content | truncatewords: 25, "
                    <small><i> 阅读更多...</i></small>
                    " }}
                    {% endif %}
                </p>
            </div>
            <div class="card-footer {{ text_style }}">
                {{ new.date | date_to_long_string }}
            </div>
        </a>
    </div>

    {% endfor %}

</div>