<div class="row bar-line" id="pro-bar">
    <div id="line" w="100" style="width:0;"></div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/js/Quotients.js"></script>
<script type="text/javascript">
    let $j = jQuery.noConflict();
    $j.ajaxSetup({cache: false});
    let $data = {};

    function setAnswer(id, newval) {
        $data[id] = newval;
        console.log($data);
    }

    $j(document).on('click', '.decision .caption.left', function () {
        $j(this).next().children('.option').removeClass('active');
        $j(this).next().children('.option.agree.max').addClass('active');
    });

    $j(document).on('click', '.decision .caption.right', function () {
        $j(this).prev().children('.option').removeClass('active');
        $j(this).prev().children('.option.disagree.max').addClass('active');
    });

    $j(document).on('click', '.btn-default.option', function () {
        $j(this).parent().children('.option').removeClass('active');
        $j(this).addClass('active');
    });

    function finish() {
        console.log($data);
        // 清除表单
        $('.test-body').css("display", 'none');
        ProcessBar(1000);
        setTimeout(function () {
            $('.bar-line').css("display", "none");
            let res = Resoult($data);
            GetResult(res);
        }, 1000);

    }

    function ProcessBar(time) {
        document.getElementById('pro-bar').style.display = "block";
        $("#line").each(function (i, item) {
            const a = parseInt($(item).attr("w"));
            $(item).animate({
                width: a + "%"
            }, time);
        });
    }
</script>