<script src="{{ '/assets/js/RaderResult.js' | relative_url }}"></script>

<script>
let Out;
Out = ResCac($data);

function chart_rader() {
    Out = ResCac($data);

    if(!isNaN(Out['dim1'])){
        ReSizeOn();
    }

    /* 初始化雷达图 */
    let radar_chart = echarts.init(document.getElementById("chart"));
    let option = {
        tooltip: {},
        radar: {
            name: {
                textStyle: {
                    color: '#fff',
                    backgroundColor: '#999',
                    borderRadius: 3,
                    padding: [3, 5]
                }
            },
            indicator: [
                {name: '社交技巧', max: 100},
                {name: '注意力切换', max: 100},
                {name: '细节注意力', max: 100},
                {name: '交流', max: 100},
                {name: '想象力', max: 100},
            ]
        },
        series: [{
            type: 'radar',
            itemStyle: {
                normal: {
                    color: '#a8bcd4'
                }
            },
            data: [
                {
                    value: [Out['dim1'] * 10, Out['dim2'] * 10, Out['dim3'] * 10, Out['dim4'] * 10, Out['dim5'] * 10],
                    name: '分析雷达图'
                },
            ]
        }]
    };
    radar_chart.setOption(option);
}
</script>