<!-- GitHub Buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- jQuery CDN -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper.js CDN -->
<script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Bootstrap JS CDN -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- wow.js CDN & Activation -->
<script src="https://cdn.bootcss.com/wow/1.1.2/wow.min.js"></script>
<script> new WOW().init(); </script>

<!-- Card Animation jQuery -->
<script src="{{ '/assets/js/card-animation.js' | relative_url }}"></script>

<!-- Load Animation -->
<script src="{{ '/assets/js/load.js' | relative_url }}"></script>

<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
