<!-- GitHub Buttons
<script async defer src="https://buttons.github.io/buttons.js"></script>
-->

<!-- jQuery CDN -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper.js CDN -->
<script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Bootstrap JavaScript CDN -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- wow.js CDN & Activation -->
<script src="https://cdn.bootcss.com/wow/1.1.2/wow.min.js"></script>
<script> new WOW().init(); </script>

<!-- Card Animation jQuery -->
<script src="{{ '/assets/js/card-animation.js' | relative_url }}"></script>

<!-- Load Animation -->
<script src="{{ '/assets/js/load.js' | relative_url }}"></script>

<!-- CopyRight -->
<script src="{{ '/assets/js/CopyRight.js' | relative_url }}"></script>