<script src="{{ '/assets/js/modernizr.custom.js' | relative_url }}"></script>
<script src="{{ '/assets/js/classie.js' | relative_url }}"></script>
<script src="{{ '/assets/js/notificationFx.js' | relative_url }}"></script>

<script>
    let Cookie = getCookie("term");
    if (Cookie === null) {
        setTimeout(function () {
            let notification = new NotificationFx({
                message: '<p>&nbsp;&nbsp;&nbsp;&nbsp;本站使用Cookie来缓存量表结果数据。<br>&nbsp;&nbsp;&nbsp;&nbsp;除特别说明外，作品均采用知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议进行许可。<br>&nbsp;&nbsp;&nbsp;&nbsp;禁止无出处转载，重新编辑发布，和商业使用。青衫会对侵权者追究法律责任。<br>&nbsp;&nbsp;&nbsp;&nbsp;关闭此弹窗表示您认可以上内容，更多细节请访问 <a href="/term">使用条款</a></p>',
                layout: 'growl',
                effect: 'slide',
                type: 'warning',
                ttl: 2 ** 30,
                onClose: function () {
                    addCookie('term', 1000);
                }
            });
            notification.show();
        }, 800);
    }
</script>