.container-c {
  position: relative;
  width: 100%;
  max-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.element-card {
  position: relative;
  width: 120px;
  height: 160px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotatey(0deg) translatex(0px) translatey(0px);
  transform: rotatey(0deg) translatex(0px) translatey(0px);
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 1px 1px 10px rgba(75, 75, 75, 0.4);
  margin: 40px;
  cursor: pointer;
}

.element-card:hover {
  -webkit-transform: translatex(0px) translatey(-10px);
  transform: translatex(0px) translatey(-10px);
}


.element-card .front-facing {
  -webkit-transform: rotateY(0deg) translateZ(2px);
  transform: rotateY(0deg) translateZ(2px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ecf0f1;
  border: 2px white solid;
  border-radius: 5px;
}

.element-card .front-facing .abr {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 0;
  font-size: 42px;
  margin: -35px 0 0 0;
  text-align: center;
  color: $primary;
}

.element-card .front-facing .abr img {
  width: 70%;
}

.element-card .front-facing .title {
  width: 100%;
  position: absolute;
  top: 65%;
  left: 0;
  text-transform: uppercase;
  font-size: 12px;
  margin: 25px 0 0 0;
  text-align: center;
  color: #7b7b7b;
}

.element-card .front-facing .counts-c {
  text-transform: uppercase;
  top: 10px;
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 12px;
  color: $primary;
}
