.quotient.card {
  border-radius  : $rounded-borders;
  text-decoration: none !important;
  margin         : 10px auto;

  .card-img-top {
    border-radius: $rounded-borders $rounded-borders 0 0;
  }

  &:hover:not(.article) {
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, .24);
  }
}

#totop {
  background-color: #eee;
  border-radius: 100%;
  bottom: 5%;
  height: 48px;
  width: 48px;
  position: fixed;
  right: -100px;
  z-index: 99;
  -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
          transition: 0.5s;
  &.display {right: 10px;}
}

#totop-percent {
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 48px;
  color: #555;
  cursor: pointer;
  &:before {
    content:attr(data-percent);
  }
}