<!--
# 就诊地图数据引入 
-->

<script>
const MapInfo = [{% for data in site.data.map_info.map_info %}
                    {
                        "name": "{{ data.name }}",
                        "value": {{ data.value }},
                        "location": [
                            {% for loc in data.location %}
                                    {
                                        "name": "{{ loc.name }}",
                                        "doctor": [
                                        {% for doc in loc.doctor %}
                                            {
                                                "name": "{{ doc.name }}",
                                                "clas":  {{ doc.clas }},
                                                "desc": "{{ doc.desc }}",
                                            },
                                        {% endfor %}
                                        ],
                                    },
                            {% endfor %}
                        ], 
                        "info_link": [
                        {% for link in data.info_link %}
                                    {
                                        "title": "{{ link.title }}",
                                        "url": "{{ link.url }}",
                                    },
                        {% endfor %}
                        ],
                    },
                {% endfor %}
            ]
</script>