<script src="{{ '/assets/js/echarts/world.js' | relative_url }}"></script>
<script src="{{ '/assets/js/echarts/map_data.js' | relative_url }}"></script>
<script src="{{ '/assets/js/echarts/map_func_int.js' | relative_url }}"></script>


<div class="col-lg-10 mx-auto mt-5 article">
    {% for data in site.data.map_info_int.map_info_int %}
    <p>{% if data.value != 0 %}
    <h3>{{ data.name }}</h3>
    {% for locate in data.location %}
    {% if locatea.name %}
    <p>
    <blockquote>
        <h6>{{ locate.name }} ：</h6>
    </blockquote>
    {% endif %}
    <p>
        {% for doctor in locate.doctor %}
    <h6>
        {{ doctor.name }} 就诊故事：
        {% if doctor.clas == 1 %}
        （可确诊ASD）
        {% endif %}
        {% if doctor.clas == 2 %}
        （可确诊ADHD）
        {% endif %}
        {% if doctor.clas == 3 %}
        （可确诊ASD与ADHD）
        {% endif %}
    </h6>
    {% if doctor.desc %}
    <pre>注：{{ doctor.desc }}</pre>
    {% endif %}
    {% endfor %}
    </p>
    {% endfor %}
    </p>
    {% for link in data.info_link %}{% if link.title %}<ul>
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    </ul>{% endif %}{% endfor %}{% endif %}
    </p>
    {% endfor %}
</div>
