---
title: 孤独商成人测试量表
name: 孤独商成人测试量表
tag: [孤独症, 量表, 在线测试, AQ, 成人测试]
image: /assets/img/AQ-A.jpg
description: 孤独商成人测试量表，用于测试成年人的孤独症商数
---

<p style="text-align: center; color: #33975b">
    本量表为成人ASD筛查量表
    <br>
    <b>最终确诊需要结合儿童时期的情况</b>
    <br>
    焦虑，抑郁，社恐等都会引起分数偏高
    <br>
    <br>
</p>

{% include Quotients/AQ-A.html %}

{% include QuestionTable.html %}

<script src="{{ '/assets/js/Alert.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/QuotientsConst.js' | relative_url }}"></script>
<script>
    let Cookie = getCookie("AQ-A");
    if (Cookie === null) {
        alert("<b>本量表只作为参考，具体诊断还需要医院的分析。</b>" +
            "<br>" +
            "本量表参考文献：<br>" +
            "<small>Simon Baron-Cohen, et al. The Autism-Spectrum Quotient (AQ):" +
            " Evidence from Asperger Syndrome/High-Functioning Autism, " +
            "Malesand Females, Scientists and Mathematicians. 31: J " +
            "Autism Dev Disord 5-17. 2001.</small>" +
            "<br><br>" +
            "翻译：青衫" +
            "<br><br>" +
            "本页面使用Cookie来储存您的结果，储存时长为2小时");
    }
</script>

<div class="result"></div>
<br>
<div class="chart-radar" id="chart"></div>

<script>
    const A = '\u975e\u5b64\u72ec\u75c7\u8c31\u7cfb';
    const B = '\u60a8\u6709\u4e00\u4e9b\u5b64\u72ec\u75c7\u8c31\u7cfb\u7684\u7279\u8d28';
    const C = '\u60a8\u53ef\u80fd\u6709\u9ad8\u529f\u80fd\u5b64\u72ec\u75c7\u8c31\u7cfb\u969c\u788d';
    const D = '\u60a8\u975e\u5e38\u53ef\u80fd\u6709\u9ad8\u529f\u80fd\u5b64\u72ec\u75c7\u8c31\u7cfb\u969c\u788d';

    function GetResult(count) {
        if (parseInt('{{ site.data.AQ-A.count }}') !== Object.keys($data).length) {
            $('.result').html('<h1>请完成量表！！！</h1>');
        } else {
            if (count <= 21) {
                $('.result').html('<h1>测试得分：' + count + '</h1><br/><h1>' + A + '</h1>');
            } else if (count > 21 && count <= 25) {
                $('.result').html('<h1>测试得分：' + count + '</h1><br/><h1>' + B + '</h1>');
            } else if (count > 25 && count <= 31) {
                $('.result').html('<h1>测试得分：' + count + '</h1><br/><h1>' + C + '</h1>');
            } else if (count > 31) {
                $('.result').html('<h1>测试得分：' + count + '</h1><br/><h1>' + D + '</h1>');
            } else {
                $('.result').html('<h1>请完成量表！！！</h1>');
            }
            chart_rader($data, 10);
            SaveCookies($data, "AQ-A");
        }
    }
</script>

{% include totop.html %}

{% include Rader.html %}

<script>
    function ReTestFunc() {
        removeCookie("AQ-A");
        window.location.reload()
    }

    function CookieResult(count) {
        if (count <= 21) {
            $('.result').html('<h1>您上次的测试得分：' + count + '</h1><br/><h1>' + A + '</h1><br/><br/>' + ReTest);
        } else if (count > 21 && count <= 25) {
            $('.result').html('<h1>您上次的测试得分：' + count + '</h1><br/><h1>' + B + '</h1><br/><br/>' + ReTest);
        } else if (count > 25 && count <= 31) {
            $('.result').html('<h1>您上次的测试得分：' + count + '</h1><br/><h1>' + C + '</h1><br/><br/>' + ReTest);
        } else if (count > 31) {
            $('.result').html('<h1>您上次的测试得分：' + count + '</h1><br/><h1>' + D + '</h1><br/><br/>' + ReTest);
        } else {
            $('.result').html('<h1>您上次没有完成量表！！！</h1>' + '<br/><br/>' + ReTest);
        }
    }

    if (Cookie != null) {
        $('.test-body').addClass('hide');
        let dataJson = window.atob(JSON.parse(Cookie)['DATA']);
        let datas = JSON.parse(dataJson);
        let res = Resoult(datas);
        CookieResult(res);
    }
</script>