---
title: 孤独症谱系成人测试量表
name: 孤独症谱系成人测试量表
tag: [孤独症, 量表, 在线测试, AQ, 成人测试]
image: /assets/img/AQ-A.jpg
description: 孤独症谱系成人测试量表，用于测试成年人的孤独症商数
---

<p style="text-align: center; color: #33975b">
    本量表为成人ASD筛查量表
    <br>
    <b>最终确诊需要结合儿童时期的情况</b>
    <br>
    焦虑，抑郁，社恐等都会引起分数偏高
    <br>
    <br>
</p>

{% include Quotients/AQ-A.html %}

{% include QuestionTable.html %}

<div class="result"></div>
<br>
<div class="chart-radar" id="chart"></div>

{% if site.debug == 1 %}
<script>
    const A = '非孤独症谱系';
    const B = '您有一些孤独症谱系的特质';
    const C = '您可能有高功能孤独症谱系障碍';
    const D = '您非常可能有高功能孤独症谱系障碍';

    function GetResult(count) {
        if (count <= 21) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + A);
            chart_rader($data);
        } else if (count > 21 && count <= 25) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + B);
        } else if (count > 25 && count <= 31) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + C);
        } else if (count > 31) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + D);
        } else {
            $('.result').html('<h1>请完成量表！！！</h1>');
        }
    }
</script>
{% else %}
{% include Server/JavaScript/AQ-A.html %}
{% endif %}

{% include Rader.html %}