---
title: 孤独症谱系成人测试量表
name: 孤独症谱系成人测试量表
tag: [孤独症, 量表, 在线测试, AQ, 成人测试]
image: /assets/img/AQ-A.jpg
description: 孤独症谱系成人测试量表，用于测试成年人的孤独症商数
---

<p style="text-align: center; color: #33975b">
    本量表为成人ASD筛查量表
    <br>
    <b>最终确诊需要结合儿童时期的情况</b>
    <br>
    焦虑，抑郁，社恐等都会引起分数偏高
    <br>
    <br>
</p>

{% include Quotients/AQ-A.html %}

{% include QuestionTable.html %}

<div class="result"></div>
<br>
<div class="chart-radar" id="chart"></div>

{% if site.debug == 1 %}
<script>
    const A = '非孤独症谱系';
    const B = '您有一些孤独症谱系的特质';
    const C = '您可能有高功能孤独症谱系障碍';
    const D = '您非常可能有高功能孤独症谱系障碍';

    function GetResult(count) {
        if (count <= 21) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + A);
            chart_rader($data);
        } else if (count > 21 && count <= 25) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + B);
        } else if (count > 25 && count <= 31) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + C);
        } else if (count > 31) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + D);
        } else {
            $('.result').html('<h1>请完成量表！！！</h1>');
        }
    }
</script>
{% else %}
{% include Server/JavaScript/AQ-A.html %}
{% endif %}

<script src="{{ '/assets/js/RaderResult.js' | relative_url }}"></script>

<script>
    let Out;
    Out = ResCac($data);

    function chart_rader() {
        Out = ResCac($data);

        if(!isNaN(Out['dim1'])){
            ReSizeOn();
        }

        // 初始化雷达图
        let radar_chart = echarts.init(document.getElementById("chart"));
        let option = {
            tooltip: {},
            radar: {
                name: {
                    textStyle: {
                        color: '#fff',
                        backgroundColor: '#999',
                        borderRadius: 3,
                        padding: [3, 5]
                    }
                },
                indicator: [
                    {name: '社交技巧', max: 100},
                    {name: '注意力切换', max: 100},
                    {name: '细节注意力', max: 100},
                    {name: '交流', max: 100},
                    {name: '想象力', max: 100},
                ]
            },
            series: [{
                type: 'radar',
                itemStyle: {
                    normal: {
                        color: '#a8bcd4'
                    }
                },
                data: [
                    {
                        value: [Out['dim1'] * 10, Out['dim2'] * 10, Out['dim3'] * 10, Out['dim4'] * 10, Out['dim5'] * 10],
                        name: '分析雷达图'
                    },
                ]
            }]
        };
        radar_chart.setOption(option);
    }
</script>