---
title: 孤独症谱系儿童测试量表
name: 孤独症谱系儿童测试量表
tag: [孤独症, 量表, 在线测试, AQ, 儿童测试]
image: /assets/img/AQ-C.jpg
description: 孤独症谱系儿童测试量表，用于测试儿童的孤独症商数
---

<p style="text-align: center; color: #33975b">
    本量表为儿童ASD筛查量表
    <br>
    <b>请父母代替儿童完成</b>
    <br>
    孩子处于焦虑，抑郁，社恐等都会引起分数偏高
    <br>
</p>

{% include Quotients/AQ-C.html %}

{% include QuestionTable.html %}

<div class="result"></div>
<br>
<div class="chart-radar" id="chart"></div>

<script>
    const A = '孩子非孤独症谱系';
    const B = '孩子有一些孤独症谱系的特质';
    const C = '孩子可能有高功能孤独症谱系障碍';
    const D = '孩子非常可能有高功能孤独症谱系障碍';

    function GetResult(count) {
        if (count <= 21) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + A);
        } else if (count > 21 && count <= 25) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + B);
        } else if (count > 25 && count <= 31) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + C);
        } else if (count > 31) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + D);
        } else {
            $('.result').html('<h1>请完成量表！！！</h1>');
        }
        chart_rader($data);
    }
</script>

{% include Rader.html %}