---
title: 孤独症谱系儿童测试量表
name: 孤独症谱系儿童测试量表
tag: [孤独症, 量表, 在线测试, AQ, 儿童测试]
image: /assets/img/AQ-C.jpg
description: 孤独症谱系儿童测试量表，用于测试儿童的孤独症商数
---

<p style="text-align: center; color: #33975b">
    本量表为儿童ASD筛查量表
    <br>
    <b>请父母代替儿童完成</b>
    <br>
    孩子处于焦虑，抑郁，社恐等都会引起分数偏高
    <br>
</p>

{% include Quotients/AQ-C.html %}

{% include QuestionTable.html %}

<div class="result"></div>
<br>
<div class="chart-radar" id="chart"></div>

{% if site.debug == 1 %}
<script>
    const A = '孩子非孤独症谱系';
    const B = '孩子有一些孤独症谱系的特质';
    const C = '孩子可能有高功能孤独症谱系障碍';
    const D = '孩子非常可能有高功能孤独症谱系障碍';

    function GetResult(count) {
        if (count <= 21) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + A);
            chart_rader($data);
        } else if (count > 21 && count <= 25) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + B);
        } else if (count > 25 && count <= 31) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + C);
        } else if (count > 31) {
            $('.result').html('<h1>测试得分：' + count + '</h1><br/>' + D);
        } else {
            $('.result').html('<h1>请完成量表！！！</h1>');
        }
    }
</script>
{% else %}
{% include Server/JavaScript/AQ-C.html %}
{% endif %}

<script src="{{ '/assets/js/RaderResult.js' | relative_url }}"></script>

<script>
    let Out = ResCac($data);

    function chart_rader() {
        ReSizeOn();
        // 初始化雷达图
        let radar_chart = echarts.init(document.getElementById("chart"));
        let option = {
            tooltip: {},
            radar: {
                name: {
                    textStyle: {
                        color: '#fff',
                        backgroundColor: '#999',
                        borderRadius: 3,
                        padding: [3, 5]
                    }
                },
                indicator: [
                    {name: '社交技巧', max: 100},
                    {name: '注意力切换', max: 100},
                    {name: '细节注意力', max: 100},
                    {name: '交流', max: 100},
                    {name: '想象力', max: 100},
                ]
            },
            series: [{
                type: 'radar',
                itemStyle: {
                    normal: {
                        color: '#a8bcd4'
                    }
                },
                data: [
                    {
                        value: [Out[0], Out[1], Out[2], Out[3], Out[4], Out[5]],
                        name: '分析雷达图'
                    },
                ]
            }]
        };
        radar_chart.setOption(option);
    }
</script>