---
title: 同理商测试量表 (Empathy Quotient)
name: 同理商测试量表 (Empathy Quotient)
tag: [同理商, 量表, 在线测试, EQ, 成人测试]
image: /assets/img/EQ60.jpg
description: 仅供参考
---

<p style="text-align: center; color: #33975b">
	<b>同理商测试量表 (Empathy Quotient)</b><br>
	来自:<br>
	<small><a href="https://pubmed.ncbi.nlm.nih.gov/15162935/">The Empathy Quotient: An Investigation of Adults
			with Asperger Syndrome or High Functioning Autism,
			and Normal Sex Differences</a></small>
</p>

{% include quotients/table/EQ60.html %}

{% include quotients/degree_div.html %}

<script src="{{ '/assets/js/Alert.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/QuotientsConst.min.js' | relative_url }}"></script>
<script>
	let Cookie = getCookie("EQ60");
	if (Cookie === null) {
		alert("<b>本量表效度存在争议，仅供参考</b>" +
			"<br><br>" +
			"<br><br>" +
			"本页面使用Cookie来储存您的结果，储存时长为2小时");
	}
</script>

<div class="result"></div>
<div class="retestButton"></div>
<br>

<script>
	function GetResult(count) {
		if (parseInt('{{ site.data.EQ60.count }}') !== Object.keys($data).length) {
			$('.result').html('<h1>请完成量表</h1>');
		} else {
			if (count <= 30) {
				$('.result').html('<h1>测试得分：' + count + '</h1><br/><h1>' + "根据测试结果显示您可能有ASD" + '</h1>');
			} else {
				$('.result').html('<h1>测试得分：' + count + '</h1><br/><h1>' + "根据测试结果显示您不太可能有ASD" + '</h1>');
			}
		}
		SaveCookies($data, "EQ60");
	}
</script>

{% include utils/totop.html %}

<script>
	function ReTestFunc() {
		removeCookie("EQ60");
		window.location.reload()
	}

	function CookieResult(count) {
		if (count <= 30) {
			$('.result').html('<h1>测试得分：' + count + '</h1><br/><h1>' + "根据测试结果显示您可能有ASD" + '</h1>' + ReTest);
		} else {
			$('.result').html('<h1>测试得分：' + count + '</h1><br/><h1>' + "根据测试结果显示您不太可能有ASD" + '</h1>' + ReTest);
		}
	}

	if (Cookie != null) {
		$('.test-body').addClass('hide');
		let dataJson = window.atob(JSON.parse(Cookie)['DATA']);
		let datas = JSON.parse(dataJson);
		let res = Resoult(datas);
		CookieResult(res);
	}
</script>
