---
title: G2述情障碍测试量表
name: G2述情障碍测试量表
tag: [述情障碍, 量表, 在线测试, OAQ]
image: /assets/img/OAQ.jpg
description: 述情障碍又译作“情感表达不能”或“情感难言症”。
---

{% include Quotients/OAQ.html %}

{% include QuestionTable.html %}

<script src="{{ '/assets/js/Alert.min.js' | relative_url }}"></script>
<script>
    let Cookie = getCookie("OAQ");
    if (Cookie === null) {
        alert("<b>本量表只作为参考，具体诊断还需要医院的分析。</b>" +
            "<br><br>" +
            "翻译：青衫" +
            "青衫取得了OAQ- G2（Online Alexithymia Questionnaire）量表作者c授权，将量表翻译成中文版：OAQ- G2述情障碍在线测试。Jason著有与述情障碍相关的两本书（点击图片购买）："+
            "<a href=\"https://www.amazon.com/Emotionally-Dumb-Alexithymia-Jason-Thompson-ebook/dp/B0038VZJ9U/\"><img style=\"width:100%;\" src=\"{{ '/assets/img/JasonBooks.jpg' | relative_url }}\"/></a>"+
            "<br><br>" +
            "本页面使用Cookie来储存您的结果，储存时长为2小时");
    }
</script>

<div class="result"></div>

<script>
    const A = '\u975e\u8ff0\u60c5\u969c\u788d';
    const B = '\u53ef\u80fd\u6709\u8ff0\u60c5\u969c\u788d';
    const C = '\u8ff0\u60c5\u969c\u788d';

    function GetResult(count) {
        if (parseInt('{{ site.data.OAQ.count }}') !== Object.keys($data).length) {
            $('.result').html('<h1>请完成量表！！！</h1>');
        } else {
            if (count <= 94) {
                $('.result').html('<h1>测试得分：' + count + '</h1><br/><h1>' + A + '</h1>');
            } else if (count > 94 && count <= 112) {
                $('.result').html('<h1>测试得分：' + count + '</h1><br/><h1>' + B + '</h1>');
            } else if (count > 112) {
                $('.result').html('<h1>测试得分：' + count + '</h1><br/><h1>' + C + '</h1>');
            } else {
                $('.result').html('<h1>请完成量表！！！</h1>');
            }
            SaveCookies($data, "OAQ");
        }
    }
</script>

<script>
    let ReTest = '<div class="row">' +
        '<div class="col-md-12">' +
        '<div class="submit_wrapper setres">' +
        '<button class="btn btn-action btn-lg" onclick="ReTestFunc();">' +
        '<span>重新测试&nbsp;</span><span class="fa fa-caret-right"></span>' +
        '</button>' +
        '</div>' +
        '</div>' +
        '</div>';

    function ReTestFunc() {
        removeCookie("OAQ");
        window.location.reload()
    }

    function CookieResult(count) {
        if (count <= 94) {
            $('.result').html('<h1>您上次的测试得分：' + count + '</h1><br/><h1>' + A + '</h1><br/><br/>' + ReTest);
        } else if (count > 94 && count <= 112) {
            $('.result').html('<h1>您上次的测试得分：' + count + '</h1><br/><h1>' + B + '</h1><br/><br/>' + ReTest);
        } else if (count > 112) {
            $('.result').html('<h1>您上次的测试得分：' + count + '</h1><br/><h1>' + C + '</h1><br/><br/>' + ReTest);
        } else {
            $('.result').html('<h1>您上次没有完成量表！！！</h1>' + '<br/><br/>' + ReTest);
        }
    }

    if (Cookie != null) {
        $('.test-body').addClass('hide');
        let dataJson = window.atob(JSON.parse(Cookie)['DATA']);
        let datas = JSON.parse(dataJson);
        let res = Resoult(datas);
        CookieResult(res);
    }
</script>