<div class="container-c">
    <div class="element-card">
        <div class="front-facing">
            <div class="abr">
                <img src="{{ '/assets/img/CardBox/qingshan_150.png' | relative_url }}" alt="QINGSHAN">
            </div>
            <p class="title">青衫</p>
            <span class="counts-c">创立者</span>
        </div>
    </div>

    <div class="element-card">
        <div class="front-facing">
            <div class="abr">
                <img src="{{ '/assets/img/CardBox/zealot.png' | relative_url }}" alt="H-MalGanis">
            </div>
            <p class="title">H-MalGanis</p>
            <span class="counts-c">开发者</span>
        </div>
    </div>

    <div class="element-card">
        <div class="front-facing">
            <div class="abr">
                <img alt="GloomyGhost" src="{{ '/assets/img/CardBox/G-150x150.png' | relative_url }}">
            </div>
            <p class="title">GloomyGhost</p>
            <span class="counts-c">开发者</span>
        </div>
    </div>

    <div class="element-card">
        <div class="front-facing">
            <div class="abr">
                <img alt="SpaceDuck" src="{{ '/assets/img/CardBox/SpaceDuck.png' | relative_url }}">
            </div>
            <p class="title">SpaceDuck</p>
            <span class="counts-c">开发者</span>
        </div>
    </div>
</div>
