---
layout: page
---

<h1><b>{{ page.title }}</b></h1>

<p class="article-metadata text-muted">
    <b>{{ page.date | date: '%Y, %b %d' }}</b>
    <br>
    {% if page.tags != empty %}
    标签:
    {% for tag in page.tags %}
    <span class="badge badge-pill text-primary border border-primary">{{ tag }}</span>
    {% endfor %}
    {% endif %}

    <br>

    {% if page.author != empty %}
    作者:
    {% for author in page.author %}
    <span class="badge badge-pill text-warning border border-warning">{{ author }}</span>
    {% endfor %}
    {% endif %}

    <br>

</p>

<div id="IfOld" style="display: none">
    <p class="badge badge-pill text-danger border border-danger IfOld">
        你现在看到的文章是在{{ page.date | date: '%Y' }}年完成的，距离现在
        <script>
            let date = new Date;
            let year = date.getFullYear();
            document.write(year);
        </script>
        已经有一段时间了，请注意内容在现在的环境中是否还适用！内容仅供参考！
    </p>
</div>
<script>
    if (parseInt("{{ page.date | date: '%Y' }}") + 5 < year) {
        document.getElementById("IfOld").style.display = "block";
    }
</script>

<div class="article-content">
    {{ content }}
</div>

{% if page.copyright %}
<footer>{{ page.copyright }}</footer>
{% else %}
<footer>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"></a><br/>本作品采用<a
        rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">知识共享署名-非商业性使用-禁止演绎 4.0
    国际许可协议</a>进行许可。<br/><b style="color: red">这意味着您将不可以：转载，重新发布，商业使用!</b>
</footer>
{% endif %}