name: Jekyll site CI

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    permissions:
      pull-requests: write

    steps:
    - uses: actions/checkout@v2
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
        jekyll/builder:latest /bin/bash -c "chmod -R 777 /srv/jekyll && jekyll build --future"

    - uses: hmarr/auto-approve-action@v2
      if: github.actor == 'GooseCheeses'
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
